// responsive
$max-width: 1440px;
$desktop: 1180px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
$min-width: 360px;

// colors
$black: #21201F;
$white: #F3F3F3;
$fiolet: #BEB8FF;
$fiolet-light: #EAE5FF;
$yellow: #FFDE40;
$gray: #C5C5C5;
$pink: #FC98BA;

// elemets color
$grad-1: radial-gradient(100% 100% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);